<section id="about">
	<div class="background-img" id="top">
		<div class="overlay"></div>
		<%= image_tag "me2blurredforwebmedium.jpg"%>
	</div>

	<div class="title"> Hi I'm Terence!</div>

	<div class="description">
		<div class="non-mobile"> I build things I think are awesome!</div> 
		<div class="non-mobile">Check out some things I've worked on!</div>
		<div class="mobile">I build things. Check it out!</div>
		<!-- <a href="#icebreaker" data-menu-top="100p">
			<div class="project">
				<i class="fa fa-heart"></i>IceBreaker
			</div>
		</a>
		
		<a href="#rep" data-menu-top="200p">
			<div class="project">
				<i class="fa fa-building-o"></i>REP 
			</div>
		</a> -->
		
	</div>

	<div class="connect"> Connect with me!</div>

	<div class= "icons">
		<a href="https://twitter.com/TerencesTweets">
			<i class="fa fa-twitter"></i>
		</a>
		<a href="http://ca.linkedin.com/pub/terence-chow/68/778/190/">
			<i class="fa fa-linkedin-square"></i>
		</a>
		<a href="https://github.com/chowza">
			<i class="fa fa-github"></i>
		</a>
		<a href="mailto:terence.chow.1986@gmail.com">
			<i class="fa fa-envelope-o"></i>
		</a>
	</div>
</section>