<div class="center-horizontal">
<h1>
	Terence Chow
</h1>
</div>
<div class="center-horizontal">
	<a href="/"><h3>Projects</h3></a><a href="/static_pages/about"><h3>About Me</h3></a>
</div>
<div class="container">
	<img src="/assets/me.jpg">
	<p style="display:inline-block;position:absolute;width:70%"> Hi I'm Terence! 
	<br>
	<br> I'm a technology enthusiast that likes building things I think would be awesome to have in this world.
	 I think from a user perspective and like apps that are simple and fun to use. 

	 I don't yet have an eye for design, but I'm working at it!
	
	<br>
	<br> Beyond that I like watching and playing sports in my free time. I love playing basketball! I also love cooking and I love meeting people.

	</p>
	
</div>
