<div class="center-horizontal">
<h1>
	Terence Chow
</h1>
</div>
<div class="center-horizontal">
	<a href="/"><h3>Projects</h3></a><a href="/static_pages/about"><h3>About Me</h3></a>
</div>
<div class="container center-horizontal">
	<h2>
		Icebreaker / Twenty Four
	</h2>
	<p>Icebreaker / Twenty Four was a dating app that was focused more on real life dating than online chatting. Users had 24 hours after a match before they could no longer contact each other. Only users with similar availability in the next 48 hours would show up in your list of potential matches. 
	<br>
	<br>
	The app was built with Cordova (PhoneGap) using HTML5 AngularJS and the Ionic Framework. The server was built with Rails and hosted on Heroku. Images were hosted on Amazon S3. This app demonstrates the following functionalities: Facebook Login, Image Resizing and Push Notifications.
	</p>

	<img src="/assets/login.png">	
	<img src="/assets/profile.png">
	<img src="/assets/settings.png">
	<img src="/assets/choose_photos.png">
	<img src="/assets/click_images.png">
	<img src="/assets/availability.png">
	<img src="/assets/cards.png">
	<img src="/assets/popup.png">
	<img src="/assets/matches.png">
	<img src="/assets/chat.png">
	

</div>