<a href="#rep" class="menu" data-0="opacity:0;z-index:0;" data-100p="opacity:1;z-index:10000;" data-200p="opacity:0;z-index:0;" data-menu-top="200p"> NEXT PROJECT</a>
<a href="#top" class="menu" data-0="opacity:0;z-index:0;" data-100p="opacity:0;z-index:0;" data-200p="opacity:1;z-index:10000;" data-menu-top="0p"> BACK TO TOP</a>

<a href="#rep" id="down-arrow" class="mobile-menu" data-0="opacity:0;z-index:0;" data-100p="opacity:1;z-index:10000;" data-200p="opacity:0;z-index:0;" data-menu-top="200p"> 
	<i class="fa fa-arrow-down"></i>
</a>
<a href="#top" id="up-arrow" class="mobile-menu" data-0="opacity:0;z-index:0;" data-100p="opacity:0;z-index:0;" data-200p="opacity:1;z-index:10000;" data-menu-top="0p"> 
	<i class="fa fa-arrow-up"></i>
</a>

<div id="skrollr-body">
	<%= render "about" %>
	<%= render "projects/icebreaker" %>
	<%= render "projects/rep" %>

	<%= render "linkedInEmbed" %>

</div>