<div class="center-horizontal">
<h1>
	Terence Chow
</h1>
</div>
<div class="center-horizontal">
	<a href="/"><h3>Projects</h3></a><a href="/static_pages/about"><h3>About Me</h3></a>
</div>
<div class="container center-horizontal">
	<h4>Icebreaker</h4>
	<a href="/static_pages/icebreaker">
		<img src="/assets/cards.png">
	</a>
</div>