<div class="center-horizontal">
<h1>
	Terence Chow
</h1>
</div>
<div class="center-horizontal">
	<a href="/"><h3>Projects</h3></a><a href="/static_pages/about"><h3>About Me</h3></a>
</div>
<div class="container center-horizontal">
	<h2>
		Real Estate Prices (REP)
	</h2>
	<p> REP was a real estate app that was focused on providing sales information to anyone interested. The idea was to remove the real estate agent out of the equation and allow for buyers and sellers to make their own informed decisions.
	<br>
	<br>
	The app was built with Rails and hosted on Heroku. This app demonstrates the following functionalities: Google Map API, Email Parsing (this is how we got the data!), and running scheduled tasks to ensure a clean database.
	</p>

	<img src=<%= asset_path "rep.png"%>>	
	<img src=<%= asset_path "rep2.png"%>>
	<img src=<%= asset_path "rep3.png"%>>
	

</div>