<div id="rep">
		<div class="project-header">
			<h1> R.E.P
			</h1>
		</div>
		<div class="project-description">
			A web app providing Real Estate Prices to buyers and sellers.
		<br>
		<br>
			Built with Rails using Google Map API, Gmail Data Scraping, and an Automatic E-mailer
		</div>
		
			
		<div class="project-screenshots">
			<img id="rep_2" src=<%= asset_path "used/rep2medium.jpg"%>>
			<img id="rep_3" src=<%= asset_path "used/rep3medium.jpg"%>>
		</div>
		<div class="bottom-arrows">
			<a id="left-arrow-rep" href="#rep">
				<i class="fa fa-arrow-circle-left" onclick='showLeftREPScreenshots();return false;'></i>
			</a>
			<a id="right-arrow-rep" href="#rep">
				<i class="fa fa-arrow-circle-right" onclick='showRightREPScreenshots();return false;'></i>
			</a>
		</div>
		<div class="left-margin-screenshot-blocker-rep">
			
		</div>
		<div class="right-margin-screenshot-blocker-rep">
		</div>
</div>