<section id="rep">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				R.E.P
			</h1>
		</div>
		<div class="project-description">
			A web app providing Real Estate Prices to buyers and sellers.
			<br>
			<br>
			Built with Rails using Google Map API, Gmail Data Scraping, and an Automatic E-mailer
		</div>

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">
				<img src=<%= asset_path "used/rep2medium.jpg"%>>
				<img src=<%= asset_path "used/rep3medium.jpg"%>>
			</div>

		
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
		</div>
</section>