<section id="whateverlinda">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				WHATEVER LINDA
			</h1>
		</div>
		<div class="project-description">
			A parallaxing site for watching the Whatever Linda show
			<br>
			<br>
			Built with Gulp, AngularJS, Jade, SASS, iScroll, Jquery Waypoints &#38; TweenMax
		</div>

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">

				<img src=<%= asset_path "compressed/whateverlinda1.jpg"%>>	
				<img src=<%= asset_path "compressed/whateverlinda2.jpg"%>>
				<img src=<%= asset_path "compressed/whateverlinda3.jpg"%>>
				<img src=<%= asset_path "compressed/whateverlinda4.jpg"%>>
			</div>

			
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
			</div>
		</div>
</section>