<section id="whateverlinda">
<div class="sectionContainer">
		<div class="project-header">
			<h1>
				WHATEVER LINDA
			</h1>
		</div>
		<div class="project-description">
			A parallaxing site for watching the Whatever Linda show
			<br>
			<br>
			Built with Gulp, AngularJS, Jade, SASS, iScroll, Jquery Waypoints &#38; TweenMax
			<br><br>
			<a href="http://www.whateverlinda.com/">www.whateverlinda.com/</a>
		</div>

		
		<div class="project-screenshots">
			<div class="project-screenshots-innerContainer">
				<%= image_tag "whateverlinda1.jpg" %>
				<%= image_tag "whateverlinda2.jpg" %>
				<%= image_tag "whateverlinda3.jpg" %>
				<%= image_tag "whateverlinda4.jpg" %>

			</div>

			
			<a class="arrows left-arrows">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a class="arrows right-arrows">
				<i class="fa fa-arrow-circle-right"></i>
			</a>
			</div>
		</div>
</section>