.background-img{
	height:100%;
	width:100%;
	overflow:hidden;
	position:absolute;
	z-index:4;
	img {
		position:absolute;
		top:50%;
		left:50%;
		-webkit-transform: translate(-50%, -40%);
		-moz-transform: translate(-50%, -40%);
		-ms-transform: translate(-50%, -40%);
		-o-transform: translate(-50%, -40%);
		transform: translate(-50%, -40%);
	}
	.overlay {
		background-color:rgba(0,0,0,0.3);
		height:100%;
		width:100%;
		position:absolute;
		z-index:5;
	}
}


.title {

	left:7%;
	top:11%;
	position:absolute;
	font-size:2.5em;
	text-align:center;
	color:white;
	z-index: 6;

	@media (max-width:1024px){
		right:7%;
		left:inherit;
	}
}	

.description {
	font-size:1.3em;
	position:absolute;
	left:7%;
	top:19%;
	color:white;
	z-index:6;
	line-height: 1.5em;
	.mobile{
		display:none;
		@media (max-width: 480px){
			display:inherit;
		}
	}
	a {
		text-decoration:none;
		color:white;
		.project {
			margin-top:20px;

			i {
				text-align:center;
				font-size:2em;
				width:20%;
				@media (max-width:480px) {
					margin-right: 2%;
				}
			}	
		}
	}		

	@media (max-width:1024px) {
		right:7%;
		left:inherit;
		text-align:right;
	}	
	@media (max-width:480px){
		min-width:200px;
		margin-top:20px;
	}
}

.connect{
	right:7%;
	bottom:15%;
	color:white;
	font-size:1.3em;
	z-index:6;
	position:absolute;
}

.icons {
	right:7%;
	bottom:10%;
	color:white;
	font-size:1.5em;
	z-index:6;
	position:absolute;
	a {
		text-decoration:none;
		color:white;
		padding:5px;
	}
}
