#rep {
	position:absolute;
	top:200%;
	height:100%;
	width:100%;
	background-color:#f8f8f8;
	border-top-style:solid;
	border-top-color:darkgray;
	border-top-width:1px;
	overflow:hidden;
	.project-screenshots {
		width:90%;
		bottom:7%;
		img {
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
			position:absolute;
			left:50%;
		}
		#rep_3{
			opacity:0;
		}
	}
}

.bottom-arrows{
	text-align: center;
	position: absolute;
	height:7%;
	bottom:0;
	width:100%;
	font-size:1.5em;
	#right-arrow-rep {
		text-decoration:none;
		color:grey;
		padding:0;
		z-index:2;
	}
	#left-arrow-rep{
		text-decoration:none;
		color:grey;
		padding:0;
		z-index:2;
		opacity:0;
	}	
}
