
// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html{
	height:100%;
}
body {
	overflow-x:hidden;
	margin:0;
	font-family:helvetica;
	height:100%
}

section {
	width: 100%;
	height: 100%;
	background-color:#e9e9e9;
	position:relative;
	border-top-style:solid;
	border-top-color:darkgray;
	border-top-width:1px;
	.sectionContainer {
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		.project-header{
			margin: 0 5%;
			h1 {
				text-align:center;
				margin:0;
				position:relative;
				top:60%;
				@media (max-width: 480px){
					top: 35%;
				}
			}
		}
		.project-description {
			text-align:center;
			margin: 2% 5% 6%;
			font-family:'Libre Baskerville', serif;
			font-style:italic;
		}
		.project-screenshots {
			margin-left:5%;
			margin-right:5%;
			width:90%;
			position: relative;
			.project-screenshots-innerContainer {
				width: 100%;
		    	overflow-x: hidden;
			}

			i {
				position:relative;
				bottom:50%;
				font-size:2em;
				color:gray;
			}
			img {
				height:100%;
				position:relative;
				float:left;
				padding: 0 15px;
			}
		}
	}
}
.menu{
	position:fixed;
	top:5%;
	right:5%;
	background-color:black;
	color:white;
	padding:2%;
	text-decoration: none;
	z-index:10000;
	@media (max-width:640px) {
		display: none;
	}
}
.mobile-menu{
	position:fixed;
	/*top:0;
	left:0;
	*/background-color:black;
	color:white;
	text-decoration: none;
	/*z-index:10000;*/
	display:none;
	padding:2px;
	@media (max-width:640px) {
		display: inherit;
	}
}



.arrows{
	text-decoration:none;
	color:grey;
	padding:0;
	position:absolute;
	top:48%;
	z-index:2;
	font-size:1em;
	cursor: pointer;
	@media (max-width:640px) {
		font-size: 0.75em;
	}
	&.right-arrows{
		right:-3%;
	}
	&.left-arrows{
		left:-3%;
		opacity: 0;
	}
}

@media (max-width:480px) {

	
	.non-mobile{
		display:none;
	}

}

.linkedInIframe {
	visibility: hidden;
    position: absolute;
    opacity: 0;
}