
// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html{
	height:100%;
}
body {
	overflow-x:hidden;
	margin:0;
	font-family:helvetica;
	height:100%
}

.menu{
	position:fixed;
	top:5%;
	right:5%;
	background-color:black;
	color:white;
	padding:2%;
	text-decoration: none;
	z-index:10000;
}

.background-img{
	height:100%;
	width:100%;
	overflow:hidden;
	position:absolute;
	img {
		position:absolute;
		top:50%;
		left:50%;
		-webkit-transform: translate(-50%, -40%);
		-moz-transform: translate(-50%, -40%);
		-ms-transform: translate(-50%, -40%);
		-o-transform: translate(-50%, -40%);
		transform: translate(-50%, -40%);
	}
	.overlay {
		background-color:rgba(0,0,0,0.3);
		height:100%;
		width:100%;
		position:absolute;
		z-index:2;
	}
}


.title {

		left:7%;
		top:11%;
		position:absolute;
		font-size:2.5em;
		text-align:center;
		color:white;
		z-index: 5;
	}	

.description {
	font-size:1.3em;
	position:absolute;
	left:7%;
	top:19%;
	color:white;
	z-index:5;
	line-height: 1.5em;
	a {
		text-decoration:none;
		color:white;
		.project {
			margin-top:20px;

			i {
				text-align:center;
				font-size:2em;
				width:20%;
			}	
		}
	}		
	
}

.connect{
	right:7%;
	bottom:15%;
	color:white;
	font-size:1.3em;
	z-index:5;
	position:absolute;
}

.icons {
	right:7%;
	bottom:10%;
	color:white;
	font-size:1.5em;
	z-index:5;
	position:absolute;
	a {
		text-decoration:none;
		color:white;
		padding:5px;
	}
}

#rep {
	position:absolute;
	top:200%;
	height:100%;
	width:100%;
	.project-screenshots {
		width:90%;
		img {
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
			max-height:50%;
			position:absolute;
			left:50%;
		}
		#rep_3{
			opacity:0;
		}
	}
}

#icebreaker{
	position:absolute;
	top:100%;
	height:100%;
	width:100%;
}
.project-header{
	margin-right:5%;
	margin-left:5%;
	height:20%;
	h1 {
		text-align:center;
		margin:0;
		position:relative;
		top:60%;
	}	
}
.project-description {
	text-align:center;
	margin-top:2%;
	margin-bottom:3%;
	margin-right:5%;
	margin-left:5%;
	font-family:'Libre Baskerville', serif;
	font-style:italic;
}
.arrows {
	height:5%;
	margin-left:5%;
	margin-right:5%;
	a {
		text-decoration:none;
		color:black;
	}
	#left-arrow{
		padding:10px 10px 10px 0;
		position:absolute;
		left:5%;
		visibility:hidden;
		opacity:0;
	}
	#right-arrow{
		padding:10px 0 10px 10px;
		position:absolute;
		right:5%;
	}
	#left-arrow-rep{
		padding:10px 10px 10px 0;
		position:absolute;
		left:5%;
		visibility:hidden;
		opacity:0;	
	}
	#right-arrow-rep{
		padding:10px 0 10px 10px;
		position:absolute;
		right:5%;	
	}
}
.project-screenshots {
	margin-left:5%;
	margin-right:5%;
	height:50%;
	width:1000%;
	
	i {
		position:relative;
		bottom:50%;
		font-size:2em;
		color:gray;
	}
	img {
		max-height:100%;
		position:relative;
		float:left;
	}
	#image_1{
		left:0;
	}
}

.right-margin-screenshot-blocker{
	position:absolute;
	top:0;
	height:200%;
	width:5%;
	right:0;
	z-index:6;
	background-color:white;
}
.left-margin-screenshot-blocker{
	position:absolute;
	top:0;
	height:200%;
	width:5%;
	left:0;
	z-index:6;
	background-color:white;
}





@media (max-width:1100px) and (max-device-width:1100px){
	.title{
		right:7%;
		left:inherit;	
	}	
	.description {
		right:7%;
		left:inherit;
		text-align:right;
	}
}

@media (max-width:400px) and (max-height:700px) and (max-device-width:400px) and (max-device-height:700px){
	.project-header{
		height:12%;
		h1 {
			top:35%;
		}
	}
	.menu{
		display:none;
	}

}

@media (max-width:400px) and (max-height:700px) {
	.project-header{
		height:12%;
		h1 {
			top:35%;
		}
	}
	.menu{
		display:none;
	}

}








/*







.bubble {
	font-size:2em;
	position:relative;
	border-radius:18px;
	padding: 10px;
	display:inline-block;
	background-color:white;
}

.bubble::after{
	content:"";
	position:absolute;
	bottom:-20px;
	right:50px;
	border-width:20px 0 0 20px;
	border-style:solid;
	border-color:white transparent;
	display:block;
	width:0;
}
*/